.mainContainer{
    border: blue solid;
    display: flex;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    background: linear-gradient(180deg, hsl(0 0% 100%), hsl(217 20% 98%));
    height: calc(100vh - 100px);
    gap: 3rem;
}
.lobbyInfo{
    border: green solid;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chatContainer{
    border: red solid;
    margin-left: auto;
}
